@font-face {
    font-family:myFont ;
    src: url(./Quicksand-Medium.ttf);
}
body {
    background-color:rgb(0, 0, 0);
}

.container0 {
    display:flex;
    justify-content:center;
    margin-top:50px;
}
.pageTitle{
    color:red;
    font-size:30px;
    font-family: myFont,sans-serif;
    
}
.container1 {
    display:flex;
    justify-content:center;
    gap:3em;
    padding-bottom:80px;
}

.container2 {
    display:flex;
    justify-content:center;
    gap:2em;
    margin-top:30px;
}

.boxes {
    width:80px;
    height:40px;
}


.one {
    background-color:red;
}

.two {
    background-color:blue;
}

.three {
    background-color:green;
}

.four {
    background-color:yellow;
}

.btns {
    width:60px;
    height:30px;
}

.container3 {
    display:flex;
    justify-content:center;
    margin-top:0px;
}

.pageTitle2{
    color:orange;
    font-size:10px;
    font-family: myFont,sans-serif;
    
}

.container5 {
    display:flex;
    justify-content:center;
    gap:2em;
    margin-top:0px;
}

.container4 {
    display:flex;
    justify-content:center;
    gap:3em;
}

.five {
    background-color:red;
}

.six {
    background-color:blue;
}

.seven {
    background-color:green;
}

.eight {
    background-color:yellow;
}

.nine {
    background-color:red
}

.ten {
    background-color:blue
}

.eleven {
    background-color:green
}

.twelve {
    background-color:yellow;
}

.container7{
    display:flex;
    justify-content:center;
    gap:3em;
    margin-top:0px;
    padding-bottom:30px;
}

.container8{
    display:flex;
    justify-content:center;
    gap:2em;
    margin-top:90px;
}

.container6{
    display:flex;
    justify-content:center;
    margin-top:0px;
}